<div class="container">

<div class="row">
  <h4><em><u>Logged in with:</u></em> <%= @user.email %></h4>
  <button class="button-primary"><%= link_to "Home", users_path %></button>
  <button class="button-primary"><%= link_to 'All Notes', notes_path %></button>
</div>

</br>
<!-- string interpolation example -->
<!-- <h3>String interpolation: = link_to "#{@user.email}", user_path %></h3> -->
<!-- add link to new note path (as a form) -->

<h3>My Notes:</h3>
<table class="u-full-width">
  <thead>
    <tr>
      <th>Keyword</th>
    </tr>
  </thead>
  <tbody>
    <% @user.notes.each do |note| %>
      <tr>
        <td>
        <!-- just in case: <erb_tag note.keyword  erb_tag> -->
        <%= link_to "#{note.keyword}", note_path(note.id) %></td>
        <td>
          <!-- just in case: <erb_tag link_to 'More', note_path(note.id) erb_tag> -->
          <%= link_to 'Erase', item, :method => 'delete' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


</div>

<!-- add bookmarked notes -->


<!-- add a note link -->
<!-- <p>= link_to 'Add a Note', new_note_path %></p> -->

