<h2><%= @user %></h2>
</br>
</br>



  <% @shopping_cart.products.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
      <td><%= item.manufacturer %></td>
      <td>
        <%= link_to 'More', product_path(item.id) %>
        <%= link_to 'Erase', item, :method => 'delete' %>
      </td>
    </tr>
  <% end %>
</table>
