<!-- this is subject page to display all notes -->

<h3>#Total Notes: <%= @notes.count %></h3>
<!-- add #total notes by subject -->

<!-- add if current_user = true >> display <button my profile>, and <button all notes> -->
<button type="button"><%= link_to "Home", users_path %></button>
<button type="button"><%= link_to 'My Profile', user_path(current_user.id) %></button>

<!-- user1 = User.first -->
<!-- user1.notes.create -->
<!-- add link to new note path (as a form); make sure published by populated where == user_id -->
</br>
</br>
</br>


<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Keyword</th>
      <th>Published by</th>
    </tr>
  </thead>


<!-- switch subjet link with keyword link -->
<!-- make subject link pull all notes with subject == same? -->
  <% @notes.each do |note| %>
    <tr>
      <td><%= link_to "#{note.subject_name}", note_path(note.id)%></td>
      <!-- <td>note.subject_name</td> -->
      <td><%= note.keyword %></td>
      <td><%= note.published_by %></td>
      <td>
        <%= link_to 'More', note_path(note.id) %>
        <%= link_to 'Erase', note, :method => 'delete' %>
      </td>
    </tr>
  <% end %>
</table>

<!-- add a note link -->
<p><%= link_to 'Add a Note', new_note_path %></p>
